@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Let's <a asp-area="" asp-controller="Superheroes" asp-action="Index">check out our superheroes!</a></p>
    </div>
